.contact__section {
  width: 100%;
  min-height: 100vh;
  padding: 88px 48px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  background-color: var(--american-green);
  background-image: url("../../assets/svg/GuysOnComputer.svg");
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: right;

  &__header {
    width: 100%;
    display: flex;
    flex-direction: column;
    color: var(--white);

    & h2 {
      font-size: 64px;
      font-family:var(--inter);
      font-weight: bolder;
    }

    & h4 {
      color: var(--dark-charcoal);
    }
  }

  .contact__group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 77px;

    &__button {
      width: 100%;
      max-width: 595px;
      min-width: 570px;
      min-height: 200px;
      background-color: var(--white);
      display: flex;
      align-items: center;
      padding: 17px;
      border-radius: 72px;
      box-shadow: inset 0px 0px 50px 50px #41c14730, 0px 0px 10px 5px #00000025;

      p {
        font-size: 32px;
        font-weight: bolder;
        color: var(--sacramento-state-green);
        padding: 7px 17px;
        text-transform: uppercase;
      }
    }
  }
}
