/*Making one REM equals 10px */
html{
  font-size: 62.5%;
}

/*Default values for a tags*/
a {
  text-decoration: none;
  font-family: 'Inter', sans-serif;
}

.home__content__image img{
  max-width: 70%;
  height: auto;
}

.home__content{
  position: relative;
  top: -7.2rem;
  display: grid;
  grid-template-columns: 1fr 1.21fr;
  gap: 1rem;
  height: 100vh;
}

.home__content__text, .home__content__image{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.home__content__text h2 {
  padding-left: 3.6rem;
  font-weight: bolder;
  font-size: 9rem;
  color: var(--white);
  text-transform: uppercase;

  //Não sei fazer inner shadow
  // text-shadow: 0px 0px 3px rgba(91, 255, 76, 0.8);
}

.home__content__text p {
  padding-left: 2.5rem;
  font-size: 1.7rem;
  color: var(--sacramento-state-green);
  font-weight: bold;
}

.home__section {
    width: 100%;
    min-height: 100vh;
    background-image: url("src/assets/svg/SVGbackground_firstSection.svg");
}
