/*Making one REM equals 10px */
html {
  font-size: 62.5%;
}

/*Default values for a tags*/
a {
  text-decoration: none;
  font-family: "Inter", sans-serif;
}

.home__section {
  width: 100%;
  min-height: 100vh;
  background-image: url("../../../public/assets/svg/SVGbackground_firstSection.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.home__content__image img {
  max-width: 70%;
  height: auto;
}

.home__content {
  position: relative;
  top: -7.2rem;
  display: grid;
  grid-template-columns: 1fr 1.21fr;
  gap: 1rem;
  height: 100vh;
}

.home__content__text,
.home__content__image {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.home__content__text h2 {
  padding-top: 13rem;
  padding-left: 3.6rem;
  font-weight: bolder;
  font-size: 8rem;
  color: var(--white);
  text-transform: uppercase;
  //Não sei fazer inner shadow
  // text-shadow: 0px 0px 3px rgba(91, 255, 76, 0.8);
  text-wrap: nowrap;
}

.home__content__text p {
  padding-left: 2.5rem;
  padding-bottom: 4rem;
  font-size: 1.7rem;
  color: var(--sacramento-state-green);
  font-weight: bold;
}

.contact__group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 77px;

  &__button {
    width: 100%;
    max-width: 595px;
    min-height: 200px;
    background-color: var(--white);
    display: flex;
    align-items: center;
    padding: 3.5rem;
    border-radius: 8rem;
    box-shadow: inset 0px 0px 50px 50px #41c14730, 0px 0px 10px 5px #00000025;

    p {
      text-align: center;
      font-size: 32px;
      font-weight: bolder;
      color: var(--sacramento-state-green);
      padding: 7px 17px;
      text-transform: uppercase;
    }
  }
}