.business__section {
  width: 100%;
  min-height: 100vh;
  padding: 3rem 5.2rem;
  background-image: url("../../../public/assets/svg/BackgroundBusinessModel.svg");
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* Align items to the left */
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &__title {
    padding-top: 2rem;
    font-family: inherit;
    font-size: 64px;
    font-weight: bolder;
    color: var(--white);
  }

  &__subtitle {
    padding-left: 15px;
    color: var(--dark-charcoal);
  }

  &__img {
    padding-top: 2.5rem;
    max-width: 95%;
    max-height: 95%;
    margin: 0 auto;
    /* Center the image horizontally */
  }
}