.about__section {
  width: 100%;
  min-height: 100vh;
  background-image: url("../../../public/assets/svg/Background_sobre_o_projeto.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  padding: 100px 48px 173px;
  display: flex;
  flex-direction: column;
  // align-items: center;
  gap: 66px;

  .header {
    display: flex;
    flex-direction: column;
    color: var(--sacramento-state-green);

    &__title {
      font-size: 64px;
      font-weight: bolder;
    }

    &__subTitle {
      font-size: 20px;
    }
  }

  .about__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;

    .card {
      width: 100%;
      max-width: 370px;
      background-color: var(--white);
      border-radius: 94px;
      padding: 70px 48px;
      box-shadow: inset 0px 0px 100px #41c14768;
      color: var(--sacramento-state-green);
      text-align: justify;

      &__title {
        font-size: 32px;
        font-weight: bold;

        &--italic {
          font-size: 64px;
          font-style: italic;
        }
      }
    }
  }
}